body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: azure;
}

.titles {
    margin-top: 3em;
    font-size: 2.5em;
    text-align: center;
}

#addEduBtn {
    display: block;
    margin: auto;
    margin-bottom: 1em;
    background-color:  rgb(78, 74, 172);
    color: white;
    font-size: 1.3em;
}


form {
    font-size: 1.3em;
    margin: auto;
    width: max(500px, 50vw);
    background-color: rgb(179, 219, 251);
    padding: 2em;
    margin-bottom: 1em;
}

.submitBtn {
    border: 2px solid rgb(150, 192, 235);
}

label {
    display: inline-block;
    width: 250px;
}

input {
    display: inline-block;
    padding-left: 0.6em;
    font-size: 1em;
    height: 1.6em;
    width: 400px;
}

.display {
    font-size: 1.3em;
    font-weight:bold;
    margin: auto;
    margin-bottom: 1em;
    width: max(500px, 50vw);
    border: 2px solid rgb(150, 192, 235);
    background-color: rgb(179, 219, 251);
    padding-top: 2em;
    padding-bottom: 1em;
}

.displayDiv {
    height: 2em;
    padding-left: 2em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    width:auto;
    align-content: center;
}

.displayDiv.light {
    background-color: white;
}

.displayField {
    display: inline-block;
    width: 250px;
}

.displayInfo {
    width: 350px;
}

.infoDiv {
    padding-bottom: 1.5em;
}

.editBtn {
    min-width: 120px;

    background-color: rgb(78, 74, 172);
    color: white;
    margin-top: 1.5em;
    margin-left: 2em;
}

.removeBtn {
    margin-left: 1em;
    color: white;
    background-color: rgb(196, 68, 51);
}